body,
html {
    width: 100%;
    height: 100%;
    background-color: white;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

* {
    box-sizing: border-box;
}


li,
a {
    font-style: italic;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    text-decoration: none;
}

a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: black;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.main-title {
    position: relative;
    padding-top: 1%;
    left: 19%;
    width: fit-content;
    font-size: 30px;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-link:focus,
.nav-link:hover {
    color: gray
}



::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: darkgray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}

.main-container {
    background-color: #171716;
    width: 100%;
    height: 15px;
    padding: 25px 25px 25px;
    padding-bottom: 45px;

}

.nav-button {
    border: 1px white solid;
    font-size: 15px;
    align-items: right;
    align-content: right;
    position: relative;
}

.nav-button-main {
    position: relative;
    font-size: 15px;
    align-items: left;
    align-content: left;
}

.salon-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    filter: none;
    -webkit-filter: grayscale(100%);

}

.services-container {
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    display: flex;
}

.service-individual {
    display: inline-block;
    position: relative;
}

.service-list {
    display: flex;
    justify-content: center;
}

.about-contrainer {
    display: flex;
    position: relative;
    margin: auto;
    right: 50%;


}

.about-image {
    position: relative;
    display: flex;
    position: absolute;
    right: 0;

}

#homepage-about {
    background-color: lightgray;
}

.responsive-image {
    max-width: 150px;
    max-height: 200px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.homepage-about {
    display: flex;
    align-items: center;
    vertical-align: top;
    width: 100%;
    height: auto;
    background-color: lightgray;

}

.center-about-div {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-left: 25%;
}

.center-about-image {
    max-width: 450px;
    max-height: 500px;
    display: block
}

.center-about-text {
    display: inline-block;
    position: relative;
    vertical-align: middle;

}



.teamshow-container {
    position: relative;
    width: 50%;
}

.teamshow-text {
    position: relative;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5%;
}


.TeamPhotos {
    width: 400px;
    height: auto;
    opacity: 1;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    filter: none;
    -webkit-filter: grayscale(100%);
}

.TeamPhotos-Images {
    width: 400px;
    height: 400px;


}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.TeamPhotos-Images:hover .TeamPhotos {
    opacity: 0.6;
}

.TeamPhotos-Images:hover .middle {
    opacity: 1;
}

.text {
    background-color: aquamarine;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
}

.card-footer {

    background-color: lightgray;

}

.Footer-Description {
    display: flex;
    position: relative;
    justify-content: left;
    padding: 0px 20px 20px 20px;
    font-size: x-large;
    font-weight: 400;
    padding-bottom: 5px;
}

.icons {
    display: flex;
    column-gap: 25px;
    justify-content: center;
    align-content: center;
}

.icon {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: .25s;
}


.icon:hover {
    outline-offset: 4px;
}

.icon:hover i {
    animation: shake .25s;
}

.icon--facebook:hover {
    background-image: radial-gradient(circle at 30% 107%, #3C5998 5%, #8B9DC3 15%, #DFE3EE 50%, #5773F2 90%);
    background-color: #7256be;
}


.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    outline-color: #a02d76;
}

.icon--tiktok:hover {
    background-image: radial-gradient(circle at 30% 107%, #16DDDC 0%, #77809F 5%, #D72463 90%);
    background-color: #d6249f;
}


.icon--booksy:hover {
    background-image: radial-gradient(circle at 30% 107%, #000000 5%, #05cfa6 20%, #05cf02 20%, white 90%);
    background-color: #16DDDC;
}

.icon--google:hover {
    background-image: radial-gradient(circle at -40% 107%, #4285F4 5%, #DB4437 35%, #F4B400 60%, #0F9D58 90%);
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}



.footer-map {
    right: 0px;
    position: sticky;
}

.slideshow {
    list-style-type: none;
}

/** SLIDESHOW **/
.slideshow,
.slideshow:after {

    position: flex;
    justify-content: center;
    justify-items: center;

    z-index: 0;
}

.slideshow li span {
    position: absolute;
    width: 65%;
    height: 62%;
    left: 18%;
    top: 7%;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite 0s;
    filter: grayscale(100%);
}

.slideshow li:nth-child(1) span {
    background-image: url(/Images/SlideShowImages/SalonPhoto1.jpg);
}

.slideshow li:nth-child(2) span {
    background-image: url("/Images/SlideShowImages/Salonphoto2.jpg");
    animation-delay: 6s;
}

.slideshow li:nth-child(3) span {
    background-image: url("/Images/SlideShowImages/SalonPhoto3.jpg");
    animation-delay: 12s;
}

.slideshow li:nth-child(4) span {
    background-image: url("/Images/SlideShowImages/SalonPhoto4.jpg");
    animation-delay: 18s;
}

.slideshow li:nth-child(5) span {
    background-image: url("/Images/SlideShowImages/SalonPhoto5.jpg");
    animation-delay: 24s;
}

.slideshow li:nth-child(6) span {
    background-image: url("/Images/SlideShowImages/SalonPhoto6.jpg");
    animation-delay: 30s;
}

.slideshow li:nth-child(7) span {
    background-image: url("/Images/SlideShowImages/SalonPhoto7.jpg");
    animation-delay: 36s;
}

.slideshow li:nth-child(8) span {
    background-image: url("/Images/SlideShowImages/SalonPhoto8.jpg");
    animation-delay: 42s;
}

.slideshow li:nth-child(9) span {
    background-image: url("/Images/SlideShowImages/SalonPhoto9.jpg");
    animation-delay: 48s;
}



@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        animation-timing-function: ease-out;
    }

    17% {
        opacity: 1
    }

    25% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}


@keyframes titleAnimation {
    0% {
        opacity: 0
    }

    8% {
        opacity: 1
    }

    17% {
        opacity: 1
    }

    19% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}


.no-cssanimations .cb-slideshow li span {
    opacity: 1;
}


.contact-main-container {
    width: 100%;
    height: 100%;

}

.contact-left-collumn {
    position: relative;
    width: 30%;
    height: 100%;
    top: 0px;
    left: .65%;
    display: inline-block;

}

.contact-right-collumn {
    width: 70%;
    height: 100%;
    top: 0px;
    right: .65%;
    position: relative;
    float: right;


}

.contact-right-collumn-header {
    padding-top: 15px;
    position: relative;
    width: 100%;
    height: 10%;
    text-align: center;
    font-family: DejaVu Sans Mono, monospace;
}

.contact-right-collumn-subheading {
    position: relative;
    width: max-content;
    padding:10px 10px 10px 10px;
    left: 10%;
    font-size: 33px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



.content-right-collumn-description{
    text-align: center;
    font-size: x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 8%;
}



/* CSS */
.button-86 {
    top:5%;
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 15px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
.button-message-link{
    display: contents;
}